# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3
media/
uploads/
staticfiles/
*.log

# Django Migrations (optional: keep if you want reproducible migrations)
**/migrations/
!**/migrations/__init__.py

# VS Code and JetBrains IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Virtual Environments
env/
venv/
ENV/
.venv/
